[Desktop Entry]
Type=Application
Name=Darmoshark M3 Configurator
Comment=Configure Darmoshark M3 series mice on Linux
Exec=DarmosharkM3
Icon=com.darmoshark.m3
Terminal=false
Categories=Settings;Utility;
StartupNotify=true
